/* Container for the image and register form */
.register-wrapper {
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  height: 90vh;
  padding: 0 20px; /* Add padding for small screens */
  box-sizing: border-box;
}

.image-container,
.register-container {
  flex: 1; /* Make both sections flexible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

/* Register container styles */
.register-container {
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.text-center {
  color: #333333;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.input-label {
  display: block;
  font-size: 0.875rem;
  color: #333333;
  text-align: start;
  padding-left: 20px;
  margin-bottom: -20px;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  font-size: 1rem;
}

input:disabled {
  background-color: #f0f0f0;
}

.error-message {
  display: block;
  color: #ff0000;
  font-weight: bold;
  margin-top: 0.5rem;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover:not(.disabled) {
  background-color: #4338ca;
}

.submit-btn.disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
}

.text-sm {
  font-size: 0.875rem;
}

.hover\:underline:hover {
  text-decoration: underline;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .register-wrapper {
    flex-direction: column; /* Stack image and form vertically on mobile */
    height: auto; /* Adjust height for content */
  }

  .image-container,
  .register-container {
    width: 100%; /* Full width on small screens */
  }
  .input-label {
    display: block;
    font-size: 0.875rem;
    color: #333333;
    text-align: start;
    padding-left: 20px;
    margin-bottom: -2px;
  }

  .register-container {
    max-width: none; /* Remove max-width constraint on mobile */
  }

  .text-center {
    font-size: 1.125rem; /* Slightly smaller font size on mobile */
  }

  .input-label {
    font-size: 0.75rem; /* Smaller font size for labels on mobile */
  }

  input {
    font-size: 0.875rem; /* Slightly smaller font size for input */
  }

  .submit-btn {
    font-size: 0.875rem; /* Slightly smaller font size for buttons */
  }
}
